.todo-sort {
    &__btn {
        background-color: transparent;
        border: 1px solid #64b2ff;
        border-radius: 5px;
        box-sizing: border-box;
        padding: 5px;
        margin: 5px;
        cursor: pointer;
    }
}