@import '../../styles/variables';

.todo-item {
    display: flex;
    flex-direction: row;
    border-bottom: 1px solid $background-color;
    width: 100%;
    height: 50px;
    align-items: center;
    padding: 10px;
    cursor: pointer;
    transition: background-color 0.2s linear, border-radius 0.2s linear;
    position: relative;

    &_editing {
      background-color: $background-color;
    }

    &_completed {
      background-color: #95c3f035;
      border-radius: 5px;
    }

    &_editing-completed {
      background-color: $background-color;
      border-radius: 5px;
    }

    &:hover {
      background-color: $background-color;
      border-radius: 5px;

      .todo-item__btn-delete {
        opacity: 1;
      }
    }

    &__time {
      font-size: 10px;
      color: $primary-color;
      margin-left: 10px;
      font-weight: 700;
    }

    &__title {
      min-width: 250px;
      max-width: 250px;
      cursor: text;
      color: #000000;
      text-overflow: ellipsis;
      overflow: hidden;
    }

    &__area {
      width: 100%;
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      align-items: center;
    }

    &__input {
      margin-right: 10px;
    }

    &__input-edit {
      border: none;
      width: 100%;
      background-color: $background-color;

      &:focus {
        outline: none;
        background-color: $background-color;
      }
    }

    &__btn-container {
      display: flex;
      flex-direction: row;
      gap: 7px;
    }

    &__save-btn {
      background-image: url('../../images/check-icon.svg');
      background-position: center;
      background-repeat: no-repeat;
      background-size: 12px 12px;
      width: 25px;
      height: 25px;
      border: none;
      cursor: pointer;
      opacity: 40%;
      transition: $transition-base;

      &:hover {
          opacity: 70%;
      }
    }

    &__cancel-btn {
      background-image: url('../../images/close-icon.svg');
      background-position: center;
      background-repeat: no-repeat;
      background-size: 12px 12px;
      width: 25px;
      height: 25px;
      border: none;
      cursor: pointer;
      opacity: 40%;
      transition: $transition-base;

      &:hover {
          opacity: 70%;
      }
    }

    &__delete-icon {
      background-image: url('../../images/close-icon.svg');
      background-size: 10px 10px;
      background-repeat: no-repeat;
      background-position: center;
      width: 25px;
      height: 25px;
      opacity: 60%;
    }

    &__btn-delete {
      background-color: transparent;
      position: absolute;
      right: -25px;
      height: 50px;
      border: none;
      cursor: pointer;
      opacity: 0;
      transition: $transition-base;
    }
  }