.todo-options {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  height: 50px;
  align-items: center;

  &__btn {
    height: 30px;
    padding: 7px;
    text-align: center;
    background: transparent;
    border-radius: 5px;
    border: 1px solid #f2f3f4;
    cursor: pointer;
    transition: background-color border 0.2s linear;

    &:hover {
      background-color: #f2f3f4;
    }

    &_active {
      border: 1px solid #64b2ff;
    }

    @media (min-width: 320px) and (max-width: 460px) {
      padding: 3px;
      font-size: 12px;
      height: 45px;
      border: none;
    }
  }
}
