@import '../../styles/variables';

.todo-search {
  display: flex;
  flex-grow: 1;
  height: 35px;
  width: 150px;
  border-radius: $border-radius-base;
  align-items: center;
  margin: 15px 0;
  position: relative;
  margin-left: 10px;
  margin-right: 10px;

  &__btn {
    background-image: url('../../images/search-icon.svg');
    background-position: center;
    background-size: 12px 12px;
    background-repeat: no-repeat;
    width: 20px;
    height: 20px;
    background-color: transparent;
    border: none;
    cursor: pointer;
    position: absolute;
    left: 5px;
    opacity: 40%;
    transition: $transition-base;

    &:hover {
      opacity: 20%;
    }
  }

  &__input {
    font-weight: 400;
    font-size: 16px;
    color: rgba(0, 0, 0, 0.5);
    width: 100%;
    border-radius: $border-radius-base;
    border: none;
    height: 100%;
    background-color: $background-color;
    padding: 5px 5px 3px 30px;

    &::placeholder {
      opacity: 50%;
      color: #000;
    }

    &:focus {
      outline: 1px solid $primary-color;
      background-color: #fff;

      &::placeholder {
        opacity: 0;
      }
    }
  }
}
