@import "../../styles/variables";

* {
  font-family: 'Roboto', sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.todo-app {
  background-color: $background-color;
  max-width: 100%;
  min-height: 100vh;
  padding: 50px 0;
  margin: 0 auto;

  @media (min-width: 320px) and (max-width: 560px) {
    padding: 20px 0;
  }

  &__sort-btn {
    width: 35px;
    height: 35px;
    border: none;
    cursor: pointer;
    border-radius: $border-radius-base;
  }

  &__sort-icon {
    background-image: url('../../images/sort-icon.svg');
    background-size: 15px 15px;
    background-repeat: no-repeat;
    background-position: center;
    width: 35px;
    height: 35px;
    opacity: 50%;
    transition: $transition-base;
    &:hover {
        opacity: 20%;
    }
  }

  &__toolbar {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    margin: 0;
    height: 50px;
    position: relative;
  }

  &__container {
    max-width: 90%;
    width: 500px;
    padding: 50px;
    margin: 0 auto;
    border-radius: 10px;
    background-color: #fff;

    @media (min-width: 320px) and (max-width: 560px) {
      padding: 50px 5%;
    }
  }

  &__title {
    font-weight: 700;
    font-size: 28px;
    color: $primary-color;
    margin-right: 10px;

    @media (min-width: 320px) and (max-width: 560px) {
      font-size: 20px;
      margin-right: 0;
    }
    @media (min-width: 320px) and (max-width: 360px) {
      font-size: 20px;
      margin-right: 0;
      width: 40%;
    }
  }

  &__add-task {
    display: flex;
    align-items: center;
    height: 35px;
    width: 100%;
    border-radius: $border-radius-base;
    margin: 15px 0;
    position: relative;
  }

  &__add-btn {
    background-image: url('../../images/plus-icon.svg');
    background-position: center;
    background-size: 15px 15px;
    background-repeat: no-repeat;
    width: 20px;
    height: 50px;
    background-color: transparent;
    border: none;
    cursor: pointer;
    position: absolute;
    left: 5px;
    opacity: 40%;
    transition: $transition-base;

    &:hover {
        opacity: 20%;
    }
  }

  &__add-input {
    font-weight: 400;
    font-size: 16px;
    color: rgba(0, 0, 0, 0.5);
    width: 100%;
    border-radius: $border-radius-base;
    border: none;
    height: 100%;
    background-color: $background-color;
    padding: 5px 5px 3px 30px;

    &::placeholder {
      opacity: 50%;
      color: #000;
    }

    &:focus {
      outline: 1px solid $primary-color;
      background-color: #fff;

      &::placeholder {
        opacity: 0;
      }
    }
  }
}
